<div [style.height]="screenHeight +'px'" class="chat_window_container">
    <div class="message_content_holder">

    </div>
    <div class="input_box_holder">
        <div class="in_inp">
            <div class="input_inside_box">
                <div class="an">
                    <textarea name="inputBox" textInputBox class="msg_input" id="" rows="1"></textarea>
                </div>
            </div>
            <div class="right_in_box">
                <button mat-mini-fab aria-label="Icon-button with a send icon">
                    <mat-icon>message</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>