<mat-toolbar class="toolbar_fixed" color="primary">
  <mat-toolbar-row *ngIf="headerShow">
    <span>{{ applicationDisplayName }}</span>
    <span class="spacer"></span>
    <mat-icon class="icon" aria-hidden="false" aria-label="Search Contacts">search</mat-icon>
    <mat-icon class="icon" aria-hidden="false" aria-label="Go to settings">settings</mat-icon>
  </mat-toolbar-row>
  <!-- FOR CHAT WINDOW SCREEN -->
  <mat-toolbar-row *ngIf="!headerShow">
    <span>{{ 'Andres Iniesta' }}</span>
    <span class="spacer"></span>
    <mat-icon class="icon" aria-hidden="false" aria-label="Go to settings">more_vert</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="fake_toolbar"></div>
<router-outlet></router-outlet>